[package]
name = "ognibuild"
version = { workspace = true }
authors = [ "Jelmer Vernooij <jelmer@jelmer.uk>"]
edition = "2021"
license = "GPL-2.0+"
description = "Detect and run any build system"
repository = "https://github.com/jelmer/ognibuild.git"
homepage = "https://github.com/jelmer/ognibuild"

[dependencies]
axum = { version = "0.6.20", optional = true, features = ["json", "http2"] }
breezyshim = { workspace = true }
clap = { version = "4.4.6", features = ["derive"], optional = true }
env_logger = { version = "0.10.0", optional = true }
libc = "0.2.148"
log = "0.4.20"
pyo3 = { workspace = true }
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
stackdriver_logger = { version = "0.8.2", optional = true }
tokio = { version = "1", features = ["full"], optional = true }
url = "2.5.1"

[workspace.dependencies]
pyo3 = "0.21"
breezyshim = "0.1"

[workspace]
members = ["ognibuild-py"]

[workspace.package]
version = "0.0.23"
