Rules-Requires-Root: no
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12), dh-sequence-python3
Source: python-ognibuild
Priority: optional
Section: python

Package: python3-python-ognibuild
Architecture: all
Depends: ${misc:Depends}
Description: Detect and run any build system
